body{
    margin: 0;
    padding: 10px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    box-sizing: border-box;

}

h2{
    text-size-adjust: 30pc;
}

button{
    background-color: blue;
    text-decoration-color: crimson;
    padding: 10px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
